body {
    font-family: Arial;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

form {
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    width: 300px;
}

input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: #007BFF;
    color: white;
    border: none;
}

button:hover {
    background: #0056b3;
}
